body{
	margin: 0px;
	padding: 0px;
	border:0px;
}

/*登陆页样式*/

.login_container{
	background: url(../img/login_background.png) no-repeat fixed center;
}

.login_header{
	margin-top: 35px;
}

.login_book{
	margin-top: 200px;
	height: 330px;
}

.login_title{
	margin-top: -290px;
	margin-left: 100px;
}

.register_title{
	margin-top: -50px;
	margin-left: 300px;
}

.login_form{
	margin-left: -40px;
	margin-top: 30px;
	display: none;
}

.register_form{
	margin-left: -40px;
	margin-top: 30px;
}

.register_form .control-group .controls button, .login_form .control-group .controls button{
	margin-left: 60px;
	margin-top: 20px;
} 

.register_form .control-group .controls button{
	margin-left: 60px;
	margin-top: 0px;	
}


/*已登录之后的首页样式*/
.navigation{
	width: 100%;
	height: 45px;
	/*background-color: #0e4c92;*/
	box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
	background-image: -moz-linear-gradient(top,#086ed5,#055db5);
	background-image: -ms-linear-gradient(top,#086ed5,#055db5);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#086ed5),to(#055db5));
	background-image: -webkit-linear-gradient(top,#086ed5,#055db5);
	background-image: -o-linear-gradient(top,#086ed5,#055db5);
	background-image: linear-gradient(top,#086ed5,#055db5);
	position: fixed;
}

.navigation img{
	width: 70px;
	height: 35px;
	float: left;
	margin-top: 5px;

}

.nav_top_serach{
	width: 380px;
	display: block;
	float: left;
	margin-top: 7px;
	margin-left: 15px;
}

.nav_top_serach input{
	width: 250px;
}

.navigation .nav_top{
	display: block;
	float: left;
	width: 350px;
}

.nav_top .nav_top_wrap{
	margin-left: 30px;
	margin-bottom: 0;
}
.nav_top .nav_top_wrap li{
	list-style: none;
	display: inline-block;
	font-size: 16px;
	width: 54px;
	height: 45px;
	line-height: 45px;
}

.nav_top .nav_top_wrap li a{
	color: #eee;
}

.nav_top .nav_top_wrap li a:hover{
	color: #fff;
	text-decoration: none;
}
.nav_top_profile{
	width: 140px;
	float: right;
	border-bottom: 0px solid #0D5AA5;
	z-index: -1;
}

.nav_top_profile img{
	width: 27px;
	height: 27px;
	margin-top: 9px;
	margin-left: 20px;
}

.nav_top_profile span{
	font-size: 16px;
	line-height: 45px;
	width: auto;
	color: #fff;
	margin-left: 10px;
}

.nav_top_profile a:hover{
	text-decoration: none;
	display: block;
	width: 140px;
	background-color: #095FB3;
	text-shadow: 0 1px 1px rgba(0,0,0,.12);
	font-size: 14px;
}

.nav_top_profile a{
	
}
.dropdown-menu{
	position: absolute;
	right: auto !important;
	width: 140px;
	min-width: 120px;
	margin-top: 0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	padding: 0px;
	background-color: #095FB3;
	border: 0px;
	border-radius:0px;
}

.dropdown-menu li{
	width: 140px;

}

.nav_dropdown_menu li{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
	border-top: 1px solid #0D5AA5;
	box-shadow: 0 1px 1px rgba(0,0,0,.4);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.nav_dropdown_menu li a{
	color: #fff;
	height: 40px;
	line-height: 40px;
}