@CHARSET "UTF-8";
html{
	height:100%;	
}
::selection {background-color: #639;}
::-moz-selection{background-color: #639;}

body{		
	background:#EDF3F7;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:900;
	height:100%;		
}

.header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50px;	
	background:#2CC78F;	
}

.welcome{
	width:200px;
	height:100%;	
}

.logout{
	float:right;
	height:100%;
	vertical-align:center;
}

.main{
	position:relative;
	top:50px;
	width:100%;	
	min-height:612px;
}

.left{
	position:absolute;
	top:0px;
	left:0px;	
	bottom:0px;	
	width:200px;		
	background:#2C2E2D;
	color:#E7E7E7;
	font-weight:900;	
	font-family:Arial, Helvetica, sans-serif;
}

.leftshowli{
	width:100%;
	height:auto;	
	border-bottom:1px solid #7A7A7A;

}

.lefttitle{
	width:100%;
	height:50px;
	display:block;
	background:#2C2E2D;
	line-height:50px;		
}

.lefttitle:hover{
	background:#252524;	
	color:#FF6600 !important;
	cursor:pointer;	
}

.selector{
	display:none;
	width:170px;
	margin-top:0;	
	background:#E0E0E0;
	font-size:14px;
	padding:15px;	
}

.selector ul{
	width:100%;
	height:auto;	
}

.selector ul li{
	margin-bottom:10px;
}

.selector ul li a{	
	color:#2CC78F;				
}

.selector ul li a:hover{
	border-bottom:1px solid #0A47FF;	
	color:#2CC78F;
}

.icon{	
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	height:16px;
	width:16px;	
	background-image:url("/mobius/Public/img/admin/menu.png");
	vertical-align: -1px;	
}

.icon1{background-position: -66px -39px;}
.icon1:hover{background-position: -66px -7px;}
.icon2{background-position:	-246px -39px}
.icon2:hover{background-position:-246px -7px}
.icon3{background-position:-155px -39px	}
.icon3:hover{background-position:-155px -7px	}
.icon4{background-position:	-307px -39px}
.icon4:hover{background-position:-307px -7px}
.icon5{background-position:	-125px -39px}
.icon5:hover{background-position:-125px -7px}

.right{
	postion:absolute;
	margin-left:200px;
}

.defaultselect{
	background:#000000;
	color:#FF6600;	
}